<div class="input-container">
  <form (ngSubmit)="onSubmit($event)">
    <mat-form-field>
      <input matInput placeholder="Enter an adress" name="adressName" required>
    </mat-form-field>
    <button mat-raised-button>Confirm</button>
  </form>
  <div class="route-params">
    <label>Distance: </label>
    {{distance}}
  </div>
  <div class="route-params">
      <label>ETA: </label>
      {{ETA}}
    </div>
</div>

<map-component #mapView width="100%" height="82%" lat="43.313212" lng="21.933879" zoom="15" (routeParams)="receiveRouteParams($event)"></map-component>