<div class="input-container">
  <div class="container">
    <form (ngSubmit)="onSubmit($event)">
      <mat-form-field>
        <input matInput placeholder="Pickup address" name="pickupAddressName" (keyup)="autoCompleteListener($event)"
          [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Destination address" name="destinationAddressName"
          (keyup)="autoCompleteListener($event)" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of options" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <button mat-raised-button>Confirm</button>
    </form>
  </div>
  <div class="container">
    <div class="route-params">
      <p>Distance to pick up: {{distancePickup}}</p>
    </div>
    <div class="route-params">
      <p>ETA for pick up: {{ETAPickup}}</p>
    </div>
    <div class="route-params">
      <p>Distance to destination: {{distanceDestination}}</p>
    </div>
    <div class="route-params">
      <p>ETA for destination: {{ETADestination}}</p>
    </div>
  </div>
</div>

<map-component #mapView width="100%" height="73%" lat="43.318058" lng="21.891996" zoom="15"
  (routeParams)="receiveRouteParams($event)"></map-component>