<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Options</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/register" routerLinkActive="active">Register a new driver</a>
      <a mat-list-item routerLink="/find" routerLinkActive="active">Find nearest driver</a>
      <a mat-list-item routerLink="/view-map" routerLinkActive="active">View map</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink='/' routerLinkActive="active">
        <span>NGDispatcher</span>
        <mat-icon aria-label="Logo">local_taxi</mat-icon>
      </a>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>