<div class="container">
  <mat-form-field>
    <input matInput placeholder="First name" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Last name" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Phone number" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Car make and model" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Car color" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Car licence plate number" required>
  </mat-form-field>
  <div class="buttons">
    <button mat-raised-button>Confirm</button>
    <button mat-raised-button (click)="btnCancel()">Cancel</button>
  </div>
</div>